* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #5A2653, #0A084D, #8E584C, #132833);
  background-size: 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.quiz-container {
  background: linear-gradient(135deg, #6200ff, #ae00ff, #cc00ff, #ff0000);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.quiz-container:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

h1 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

.counters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#score-counter, #incorrect-counter {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
}

#score-counter {
  background-color: #4CAF50;
  color: #ffffff;
}

#incorrect-counter {
  background-color: #f44336;
  color: #ffffff;
}

.question {
  margin: 20px 0;
  font-size: 18px;
  color: #333333;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.option:hover {
  background-color: #38ff38;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.option.selected {
  background-color: #4CAF50;
  color: #ffffff;
}

button#next {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  display: none;
  transition: background-color 0.3s ease;
}

button#next:hover {
  background-color: #00ff0d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

button#next:focus {
  outline: 2px solid #333333;
  outline-offset: 2px;
}

#result {
  margin-top: 20px;
  font-size: 16px;
  color: #333333;
}
